### ğŸ—‚ï¸ ë°ì´í„° êµ¬ì„±
---
    1. uriage.csv : ë§¤ì¶œ ì´ë ¥
    2. kokyaku_daicho.xlsx : ëŒ€ë¦¬ì ì—ì„œ ê´€ë¦¬í•˜ëŠ” ê³ ê° ì •ë³´

In [45]:
# í…Œí¬ë‹‰ 11. ë°ì´í„°ë¥¼ ì½ì–´ë“¤ì´ì
import pandas as pd
uriage_data = pd.read_csv('uriage.csv', parse_dates=['purchase_date'])
kokyaku_data = pd.read_excel('kokyaku_daicho.xlsx', parse_dates=['ë“±ë¡ì¼'])

In [46]:
# í…Œí¬ë‹‰ 12. ë°ì´í„°ì˜ ì˜¤ë¥˜ë¥¼ ì‚´í´ë³´ì
uriage_data['item_name'].head()

0      ìƒí’ˆA
1    ìƒ í’ˆ S
2    ìƒ í’ˆ a
3      ìƒí’ˆZ
4      ìƒí’ˆa
Name: item_name, dtype: object

In [47]:
uriage_data.head()

        purchase_date item_name  item_price customer_name
0 2019-06-13 18:02:00       ìƒí’ˆA       100.0           ê¹€ê°€ì˜¨
1 2019-07-13 13:05:00     ìƒ í’ˆ S         NaN           ê¹€ìš°ì°¬
2 2019-05-11 19:42:00     ìƒ í’ˆ a         NaN           ê¹€ìœ ì°¬
3 2019-02-12 23:40:00       ìƒí’ˆZ      2600.0           ê¹€ì¬í˜„
4 2019-04-22 03:09:00       ìƒí’ˆa         NaN           ê¹€ê°•í˜„

In [48]:
# í…Œí¬ë‹‰ 13. ë°ì´í„° ì˜¤ë¥˜ê°€ ìˆëŠ” ìƒíƒœë¡œ ì§‘ê³„ë¥¼ í•´ë³´ì
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime('%Y%m')
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:00       ìƒí’ˆA       100.0           ê¹€ê°€ì˜¨         201906
1 2019-07-13 13:05:00     ìƒ í’ˆ S         NaN           ê¹€ìš°ì°¬         201907
2 2019-05-11 19:42:00     ìƒ í’ˆ a         NaN           ê¹€ìœ ì°¬         201905
3 2019-02-12 23:40:00       ìƒí’ˆZ      2600.0           ê¹€ì¬í˜„         201902
4 2019-04-22 03:09:00       ìƒí’ˆa         NaN           ê¹€ê°•í˜„         201904

In [49]:
res = uriage_data.pivot_table(columns='item_name',
                              index='purchase_month',
                              aggfunc='count',
                              fill_value=0)
res

               customer_name                                                 \
item_name              ìƒ í’ˆ n  ìƒí’ˆ E  ìƒí’ˆ M  ìƒí’ˆ P  ìƒí’ˆ S  ìƒí’ˆ W  ìƒí’ˆ X  ìƒí’ˆW ìƒ  í’ˆO
purchase_month
201901                     1     0     0     0     0     0     0    0     0
201902                     0     0     0     0     0     0     1    0     0
201903                     0     1     1     1     0     0     0    0     0
201904                     0     0     0     0     0     0     0    1     0
201905                     0     0     0     0     1     0     0    0     0
201906                     0     0     0     0     0     1     0    0     0
201907                     0     0     0     0     0     0     0    0     1

                      ... purchase_date
item_name      ìƒ  í’ˆQ  ...           ìƒí’ˆk ìƒí’ˆl ìƒí’ˆo ìƒí’ˆp ìƒí’ˆr ìƒí’ˆs ìƒí’ˆt ìƒí’ˆv ìƒí’ˆx ìƒí’ˆy
purchase_month        ...
201901             0  ...             1   1   1   0   0   0   0   0   0   0
201902             0  ...             0   0   0   0   0   1   1   1   0   0
201903             0  ...             0   0   0   0   0   0   0   0   0   0
201904             1  ...             0   0   0   0   0   1   0   0   0   0
201905             0  ...             0   1   0   0   0   0   0   0   0   1
201906             0  ...             0   0   0   1   0   0   0   0   1   0
201907             0  ...             0   0   1   0   2   0   0   0   0   0

[7 rows x 297 columns]

In [50]:
res = uriage_data.pivot_table(columns='item_name',
                              index='purchase_month',
                              values=['item_price'],
                              aggfunc='sum',
                              fill_value=0)
res

               item_price                                                 \
item_name           ìƒ í’ˆ n   ìƒí’ˆ E    ìƒí’ˆ M    ìƒí’ˆ P    ìƒí’ˆ S    ìƒí’ˆ W    ìƒí’ˆ X
purchase_month
201901             1400.0    0.0     0.0     0.0     0.0     0.0     0.0
201902                0.0    0.0     0.0     0.0     0.0     0.0  2400.0
201903                0.0  500.0  1300.0  1600.0     0.0     0.0     0.0
201904                0.0    0.0     0.0     0.0     0.0     0.0     0.0
201905                0.0    0.0     0.0     0.0  1900.0     0.0     0.0
201906                0.0    0.0     0.0     0.0     0.0  2300.0     0.0
201907                0.0    0.0     0.0     0.0     0.0     0.0     0.0

                                      ...                                  \
item_name          ìƒí’ˆW ìƒ  í’ˆO   ìƒ  í’ˆQ  ...     ìƒí’ˆk     ìƒí’ˆl     ìƒí’ˆo     ìƒí’ˆp
purchase_month                        ...
201901             0.0   0.0     0.0  ...  1100.0  1200.0  1500.0     0.0
201902             0.0   0.0     0.0  ...     0.0     0.0     0.0     0.0
201903             0.0   0.0     0.0  ...     0.0     0.0     0.0     0.0
201904          2300.0   0.0  1700.0  ...     0.0     0.0     0.0     0.0
201905             0.0   0.0     0.0  ...     0.0  1200.0     0.0     0.0
201906             0.0   0.0     0.0  ...     0.0     0.0     0.0  1600.0
201907             0.0   0.0     0.0  ...     0.0     0.0  1500.0     0.0


item_name          ìƒí’ˆr     ìƒí’ˆs     ìƒí’ˆt     ìƒí’ˆv     ìƒí’ˆx     ìƒí’ˆy
purchase_month
201901             0.0     0.0     0.0     0.0     0.0     0.0
201902             0.0  1900.0  2000.0  2200.0     0.0     0.0
201903             0.0     0.0     0.0     0.0     0.0     0.0
201904             0.0  1900.0     0.0     0.0     0.0     0.0
201905             0.0     0.0     0.0     0.0     0.0  2500.0
201906             0.0     0.0     0.0     0.0  2400.0     0.0
201907          1800.0     0.0     0.0     0.0     0.0     0.0

[7 rows x 99 columns]

In [51]:
# í…Œí¬ë‹‰ 14. ìƒí’ˆëª… ì˜¤ë¥˜ë¥¼ ìˆ˜ì •í•˜ì
uriage_data['item_name'] = uriage_data['item_name'].str.upper()
uriage_data['item_name'] = uriage_data['item_name'].str.replace(' ', '')

import numpy as np
np.unique(uriage_data['item_name'], return_counts=True)

(array(['ìƒí’ˆA', 'ìƒí’ˆB', 'ìƒí’ˆC', 'ìƒí’ˆD', 'ìƒí’ˆE', 'ìƒí’ˆF', 'ìƒí’ˆG', 'ìƒí’ˆH', 'ìƒí’ˆI',
        'ìƒí’ˆJ', 'ìƒí’ˆK', 'ìƒí’ˆL', 'ìƒí’ˆM', 'ìƒí’ˆN', 'ìƒí’ˆO', 'ìƒí’ˆP', 'ìƒí’ˆQ', 'ìƒí’ˆR',
        'ìƒí’ˆS', 'ìƒí’ˆT', 'ìƒí’ˆU', 'ìƒí’ˆV', 'ìƒí’ˆW', 'ìƒí’ˆX', 'ìƒí’ˆY', 'ìƒí’ˆZ'],
       dtype=object),
 array([139, 113, 133, 125, 105, 126, 110, 109, 114, 116, 109, 110, 113,
        119, 124, 135, 125, 136, 140, 117, 107, 134, 121, 116, 102,   1]))

In [52]:
uriage_data.sort_values(by=['item_name'], inplace=True)
uriage_data

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       ìƒí’ˆA       100.0           ê¹€ê°€ì˜¨         201906
1748 2019-05-19 20:22:00       ìƒí’ˆA       100.0           ê¹€ì‹œí›ˆ         201905
223  2019-06-25 08:13:00       ìƒí’ˆA       100.0           ê¹€ìœ ì§„         201906
1742 2019-06-13 16:03:00       ìƒí’ˆA       100.0           ê¹€ê±´í¬         201906
1738 2019-02-10 00:28:00       ìƒí’ˆA       100.0           ê¹€í•˜ë‘         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:00       ìƒí’ˆY         NaN           ê¹€ë™ìš±         201904
2881 2019-04-30 14:21:00       ìƒí’ˆY         NaN           ê¹€í•˜ì¤€         201904
1525 2019-01-24 10:27:00       ìƒí’ˆY      2500.0           ê¹€ë²”ì¤€         201901
1361 2019-05-28 13:45:00       ìƒí’ˆY      2500.0           ê¹€ìˆ˜í˜„         201905
3    2019-02-12 23:40:00       ìƒí’ˆZ      2600.0           ê¹€ì¬í˜„         201902

[2999 rows x 5 columns]

In [53]:
# í…Œí¬ë‹‰ 15. ê¸ˆì•¡ì˜ ê²°ì¸¡ì¹˜ë¥¼ ìˆ˜ì •í•˜ì
uriage_data.isnull().sum()

purchase_date       0
item_name           0
item_price        387
customer_name       0
purchase_month      0
dtype: int64

In [54]:
extracted_data = uriage_data[~(uriage_data['item_price'].isnull())].groupby(by='item_name').mean(numeric_only=True)
extracted_data.head()

           item_price
item_name
ìƒí’ˆA             100.0
ìƒí’ˆB             200.0
ìƒí’ˆC             300.0
ìƒí’ˆD             400.0
ìƒí’ˆE             500.0

In [56]:
uriage_data.drop(columns='item_price',
                 axis='columns',
                 inplace=True)
uriage_data

           purchase_date item_name customer_name purchase_month
0    2019-06-13 18:02:00       ìƒí’ˆA           ê¹€ê°€ì˜¨         201906
1748 2019-05-19 20:22:00       ìƒí’ˆA           ê¹€ì‹œí›ˆ         201905
223  2019-06-25 08:13:00       ìƒí’ˆA           ê¹€ìœ ì§„         201906
1742 2019-06-13 16:03:00       ìƒí’ˆA           ê¹€ê±´í¬         201906
1738 2019-02-10 00:28:00       ìƒí’ˆA           ê¹€í•˜ë‘         201902
...                  ...       ...           ...            ...
2880 2019-04-22 00:36:00       ìƒí’ˆY           ê¹€ë™ìš±         201904
2881 2019-04-30 14:21:00       ìƒí’ˆY           ê¹€í•˜ì¤€         201904
1525 2019-01-24 10:27:00       ìƒí’ˆY           ê¹€ë²”ì¤€         201901
1361 2019-05-28 13:45:00       ìƒí’ˆY           ê¹€ìˆ˜í˜„         201905
3    2019-02-12 23:40:00       ìƒí’ˆZ           ê¹€ì¬í˜„         201902

[2999 rows x 4 columns]

In [57]:
uriage_data = pd.merge(how='left',
                       left=uriage_data,
                       right=extracted_data,
                       on='item_name')
uriage_data.head()

        purchase_date item_name customer_name purchase_month  item_price
0 2019-06-13 18:02:00       ìƒí’ˆA           ê¹€ê°€ì˜¨         201906       100.0
1 2019-05-19 20:22:00       ìƒí’ˆA           ê¹€ì‹œí›ˆ         201905       100.0
2 2019-06-25 08:13:00       ìƒí’ˆA           ê¹€ìœ ì§„         201906       100.0
3 2019-06-13 16:03:00       ìƒí’ˆA           ê¹€ê±´í¬         201906       100.0
4 2019-02-10 00:28:00       ìƒí’ˆA           ê¹€í•˜ë‘         201902       100.0

In [58]:
uriage_data.isnull().sum()

purchase_date     0
item_name         0
customer_name     0
purchase_month    0
item_price        0
dtype: int64

In [61]:
np.unique(uriage_data['item_price'], return_counts=True)[1]

array([139, 113, 133, 125, 105, 126, 110, 109, 114, 116, 109, 110, 113,
       119, 124, 135, 125, 136, 140, 117, 107, 134, 121, 116, 102,   1])

In [62]:
np.unique(uriage_data['item_name'], return_counts=True)[1]

array([139, 113, 133, 125, 105, 126, 110, 109, 114, 116, 109, 110, 113,
       119, 124, 135, 125, 136, 140, 117, 107, 134, 121, 116, 102,   1])

In [63]:
# í…Œí¬ë‹‰ 16. ê³ ê° ì´ë¦„ì˜ ì˜¤ë¥˜ë¥¼ ìˆ˜ì •í•˜ì
kokyaku_data.head()

   ê³ ê°ì´ë¦„  ì§€ì—­                  ë“±ë¡ì¼
0  ê¹€ í˜„ì„±  Hì‹œ  2018-01-04 00:00:00
1  ê¹€ ë„ìœ¤  Eì‹œ                42782
2  ê¹€ ì§€í•œ  Aì‹œ  2018-01-07 00:00:00
3  ê¹€ í•˜ìœ¤  Fì‹œ                42872
4  ê¹€ ì‹œì˜¨  Eì‹œ                43127

In [64]:
kokyaku_data['ê³ ê°ì´ë¦„'] = kokyaku_data['ê³ ê°ì´ë¦„'].str.replace(' ', '')
kokyaku_data['ê³ ê°ì´ë¦„'] = kokyaku_data['ê³ ê°ì´ë¦„'].str.strip()
kokyaku_data.head()

  ê³ ê°ì´ë¦„  ì§€ì—­                  ë“±ë¡ì¼
0  ê¹€í˜„ì„±  Hì‹œ  2018-01-04 00:00:00
1  ê¹€ë„ìœ¤  Eì‹œ                42782
2  ê¹€ì§€í•œ  Aì‹œ  2018-01-07 00:00:00
3  ê¹€í•˜ìœ¤  Fì‹œ                42872
4  ê¹€ì‹œì˜¨  Eì‹œ                43127

In [86]:
# í…Œí¬ë‹‰ 17. ë‚ ì§œ ì˜¤ë¥˜ë¥¼ ìˆ˜ì •í•˜ì
from_series = pd.to_timedelta(kokyaku_data[kokyaku_data['ë“±ë¡ì¼'].str.isdigit()]['ë“±ë¡ì¼'].astype(float), 
                              unit='days')+pd.to_datetime('1900/01/01')
from_series

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: ë“±ë¡ì¼, dtype: datetime64[ns]

In [85]:
from_string = kokyaku_data[~(kokyaku_data['ë“±ë¡ì¼'].str.isdigit())]['ë“±ë¡ì¼']
from_string

0      2018-01-04 00:00:00
2      2018-01-07 00:00:00
5      2017-06-20 00:00:00
6      2018-06-11 00:00:00
7      2017-05-19 00:00:00
              ...
195    2017-06-20 00:00:00
196    2018-06-20 00:00:00
197    2017-04-29 00:00:00
198    2019-04-19 00:00:00
199    2019-04-23 00:00:00
Name: ë“±ë¡ì¼, Length: 178, dtype: object

In [87]:
kokyaku_data['ë“±ë¡ì¼'] =  pd.concat(objs=[from_string, from_series])
kokyaku_data

    ê³ ê°ì´ë¦„  ì§€ì—­                  ë“±ë¡ì¼
0    ê¹€í˜„ì„±  Hì‹œ  2018-01-04 00:00:00
1    ê¹€ë„ìœ¤  Eì‹œ  2017-02-18 00:00:00
2    ê¹€ì§€í•œ  Aì‹œ  2018-01-07 00:00:00
3    ê¹€í•˜ìœ¤  Fì‹œ  2017-05-19 00:00:00
4    ê¹€ì‹œì˜¨  Eì‹œ  2018-01-29 00:00:00
..   ...  ..                  ...
195  ê¹€ì¬í¬  Gì‹œ  2017-06-20 00:00:00
196  ê¹€ë„ì˜  Eì‹œ  2018-06-20 00:00:00
197  ê¹€ì´ì•ˆ  Fì‹œ  2017-04-29 00:00:00
198  ê¹€ì‹œí˜„  Hì‹œ  2019-04-19 00:00:00
199  ê¹€ì„œìš°  Dì‹œ  2019-04-23 00:00:00

[200 rows x 3 columns]

In [88]:
# í…Œí¬ë‹‰ 18. ê³ ê° ì´ë¦„ì„ í‚¤ë¡œ ë‘ê°œì˜ ë°ì´í„°ë¥¼ ê²°í•©í•˜ì
merged_data = pd.merge(how='left',
                       left=uriage_data,
                       right=kokyaku_data,
                       left_on='customer_name',
                       right_on='ê³ ê°ì´ë¦„')
merged_data

,purchase_date,item_name,customer_name,purchase_month,item_price,ê³ ê°ì´ë¦„,ì§€ì—­,ë“±ë¡ì¼
0,2019-06-13 18:02:00,ìƒí’ˆA,ê¹€ê°€ì˜¨,201906,100.0,ê¹€ê°€ì˜¨,Cì‹œ,2017-01-26 00:00:00
1,2019-05-19 20:22:00,ìƒí’ˆA,ê¹€ì‹œí›ˆ,201905,100.0,ê¹€ì‹œí›ˆ,Eì‹œ,2018-07-23 00:00:00
2,2019-06-25 08:13:00,ìƒí’ˆA,ê¹€ìœ ì§„,201906,100.0,ê¹€ìœ ì§„,Bì‹œ,2018-06-14 00:00:00
3,2019-06-13 16:03:00,ìƒí’ˆA,ê¹€ê±´í¬,201906,100.0,ê¹€ê±´í¬,Bì‹œ,2018-01-21 00:00:00
4,2019-02-10 00:28:00,ìƒí’ˆA,ê¹€í•˜ë‘,201902,100.0,ê¹€í•˜ë‘,Eì‹œ,2018-01-11 00:00:00
...,...,...,...,...,...,...,...,...
2994,2019-04-22 00:36:00,ìƒí’ˆY,ê¹€ë™ìš±,201904,2500.0,ê¹€ë™ìš±,Aì‹œ,2018-07-04 00:00:00
2995,2019-04-30 14:21:00,ìƒí’ˆY,ê¹€í•˜ì¤€,201904,2500.0,ê¹€í•˜ì¤€,Hì‹œ,2018-04-21 00:00:00
2996,2019-01-24 10:27:00,ìƒí’ˆY,ê¹€ë²”ì¤€,201901,2500.0,ê¹€ë²”ì¤€,Fì‹œ,2017-01-06 00:00:00
2997,2019-05-28 13:45:00,ìƒí’ˆY,ê¹€ìˆ˜í˜„,201905,2500.0,ê¹€ìˆ˜í˜„,Eì‹œ,2017-02-22 00:00:00
2998,2019-02-12 23:40:00,ìƒí’ˆZ,ê¹€ì¬í˜„,201902,2600.0,ê¹€ì¬í˜„,Dì‹œ,2018-07-22 00:00:00

In [89]:
merged_data.drop(columns=['ê³ ê°ì´ë¦„'],
                 axis='columns',
                 inplace=True)
merged_data

,purchase_date,item_name,customer_name,purchase_month,item_price,ì§€ì—­,ë“±ë¡ì¼
0,2019-06-13 18:02:00,ìƒí’ˆA,ê¹€ê°€ì˜¨,201906,100.0,Cì‹œ,2017-01-26 00:00:00
1,2019-05-19 20:22:00,ìƒí’ˆA,ê¹€ì‹œí›ˆ,201905,100.0,Eì‹œ,2018-07-23 00:00:00
2,2019-06-25 08:13:00,ìƒí’ˆA,ê¹€ìœ ì§„,201906,100.0,Bì‹œ,2018-06-14 00:00:00
3,2019-06-13 16:03:00,ìƒí’ˆA,ê¹€ê±´í¬,201906,100.0,Bì‹œ,2018-01-21 00:00:00
4,2019-02-10 00:28:00,ìƒí’ˆA,ê¹€í•˜ë‘,201902,100.0,Eì‹œ,2018-01-11 00:00:00
...,...,...,...,...,...,...,...
2994,2019-04-22 00:36:00,ìƒí’ˆY,ê¹€ë™ìš±,201904,2500.0,Aì‹œ,2018-07-04 00:00:00
2995,2019-04-30 14:21:00,ìƒí’ˆY,ê¹€í•˜ì¤€,201904,2500.0,Hì‹œ,2018-04-21 00:00:00
2996,2019-01-24 10:27:00,ìƒí’ˆY,ê¹€ë²”ì¤€,201901,2500.0,Fì‹œ,2017-01-06 00:00:00
2997,2019-05-28 13:45:00,ìƒí’ˆY,ê¹€ìˆ˜í˜„,201905,2500.0,Eì‹œ,2017-02-22 00:00:00
2998,2019-02-12 23:40:00,ìƒí’ˆZ,ê¹€ì¬í˜„,201902,2600.0,Dì‹œ,2018-07-22 00:00:00

In [90]:
# í…Œí¬ë‹‰ 19. ì •ì œí•œ ë°ì´í„°ë¥¼ ë¤í”„í•˜ì
dump_data = merged_data[['purchase_date', 'purchase_month', 'item_name', 'item_price', 'customer_name', 'ì§€ì—­', 'ë“±ë¡ì¼']]
dump_data

,purchase_date,purchase_month,item_name,item_price,customer_name,ì§€ì—­,ë“±ë¡ì¼
0,2019-06-13 18:02:00,201906,ìƒí’ˆA,100.0,ê¹€ê°€ì˜¨,Cì‹œ,2017-01-26 00:00:00
1,2019-05-19 20:22:00,201905,ìƒí’ˆA,100.0,ê¹€ì‹œí›ˆ,Eì‹œ,2018-07-23 00:00:00
2,2019-06-25 08:13:00,201906,ìƒí’ˆA,100.0,ê¹€ìœ ì§„,Bì‹œ,2018-06-14 00:00:00
3,2019-06-13 16:03:00,201906,ìƒí’ˆA,100.0,ê¹€ê±´í¬,Bì‹œ,2018-01-21 00:00:00
4,2019-02-10 00:28:00,201902,ìƒí’ˆA,100.0,ê¹€í•˜ë‘,Eì‹œ,2018-01-11 00:00:00
...,...,...,...,...,...,...,...
2994,2019-04-22 00:36:00,201904,ìƒí’ˆY,2500.0,ê¹€ë™ìš±,Aì‹œ,2018-07-04 00:00:00
2995,2019-04-30 14:21:00,201904,ìƒí’ˆY,2500.0,ê¹€í•˜ì¤€,Hì‹œ,2018-04-21 00:00:00
2996,2019-01-24 10:27:00,201901,ìƒí’ˆY,2500.0,ê¹€ë²”ì¤€,Fì‹œ,2017-01-06 00:00:00
2997,2019-05-28 13:45:00,201905,ìƒí’ˆY,2500.0,ê¹€ìˆ˜í˜„,Eì‹œ,2017-02-22 00:00:00
2998,2019-02-12 23:40:00,201902,ìƒí’ˆZ,2600.0,ê¹€ì¬í˜„,Dì‹œ,2018-07-22 00:00:00

In [ ]:
dump_data.to_csv('dump.csv', index=False)

In [91]:
# í…Œí¬ë‹‰ 20. ë°ì´í„°ë¥¼ ì§‘ê³„í•˜ì
dump_data.pivot_table(index='purchase_month',
                      columns='item_name',
                      aggfunc='count',
                      fill_value=0)

               customer_name                                      ...  ì§€ì—­      \
item_name                ìƒí’ˆA ìƒí’ˆB ìƒí’ˆC ìƒí’ˆD ìƒí’ˆE ìƒí’ˆF ìƒí’ˆG ìƒí’ˆH ìƒí’ˆI ìƒí’ˆJ  ... ìƒí’ˆQ ìƒí’ˆR
purchase_month                                                    ...
201901                    18  13  19  17  18  15  11  16  18  17  ...  17  21
201902                    19  14  26  21  16  14  14  17  12  14  ...  22  22
201903                    17  21  20  17   9  27  14  18  12  16  ...  23  16
201904                    17  19  24  20  18  17  14  11  18  13  ...  20  20
201905                    24  14  16  14  19  18  23  15  16  11  ...  13  22
201906                    24  12  11  19  13  18  15  13  19  22  ...  15  16
201907                    20  20  17  17  12  17  19  19  19  23  ...  15  19


item_name      ìƒí’ˆS ìƒí’ˆT ìƒí’ˆU ìƒí’ˆV ìƒí’ˆW ìƒí’ˆX ìƒí’ˆY ìƒí’ˆZ
purchase_month
201901          20  17   7  22  13  14  10   0
201902          22  23  19  22  24  16  11   1
201903          20  12  23  18  16  21  16   0
201904          16  16  11  15  14  16  20   0
201905          18  16  16   9  21  16  20   0
201906          21  12  18  20  17  15  13   0
201907          23  21  13  28  16  18  12   0

[7 rows x 130 columns]